# Climate data: import and cleaning

#### In this particular notebook the climate dataset "climate_by_state_2018-HBA-Copy.csv" is imported and cleaned for the porject's purpose.

In [73]:
import pandas as pd

In [74]:
climate = pd.read_csv('../data/climate_by_state_2018-HBA-Copy.csv')

In [75]:
type(climate)

pandas.core.frame.DataFrame

In [76]:
climate.head() #Display first 5 rows

,Unnamed: 0,state,avg_hum_spr,avg_hum_sum,avg_hum_fall,avg_hum_wint,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint,avg_precip_spr,avg_precip_sum,avg_precip_fall,avg_precip_wint,avg_pressure_spr,avg_pressure_sum,avg_pressure_fall,avg_pressure_wint
0,0,Alabama,73.021978,72.582418,75.326087,75.739130,18.076923,27.604396,30.793478,20.989130,1.324176,3.756044,6.307609,2.841304,1021.978022,1016.000000,1016.271739,1018.380435
1,1,Alaska,67.769231,72.439560,78.293478,75.163043,28.197802,30.000000,29.641304,27.739130,0.081319,2.485714,4.276087,0.751087,1014.450549,1012.296703,1012.597826,1013.260870
2,2,Arizona,82.164835,77.153846,79.891304,81.673913,25.582418,29.054945,28.782609,27.021739,2.626374,2.190110,1.850000,3.127174,1016.362637,1013.098901,1013.945652,1014.097826
3,3,Arkansas,58.307692,68.109890,68.304348,67.554348,10.824176,26.076923,30.902174,12.576087,0.231868,1.501099,1.282609,0.541304,1021.076923,1012.945055,1015.217391,1019.086957
4,4,California,42.681319,34.846154,24.760870,39.195652,15.538462,27.318681,35.010870,18.010870,0.228571,0.002198,0.014130,0.129348,1018.505495,1012.505495,1012.206522,1017.293478

In [77]:
climate.shape #display rows and columns of dataset (Pandas_class)

(50, 18)

In [78]:
climate.columns #Names of columns to identify which ones to keep

Index(['Unnamed: 0', 'state', 'avg_hum_spr', 'avg_hum_sum', 'avg_hum_fall',
       'avg_hum_wint', 'avg_temp_spr', 'avg_temp_sum', 'avg_temp_fall',
       'avg_temp_wint', 'avg_precip_spr', 'avg_precip_sum', 'avg_precip_fall',
       'avg_precip_wint', 'avg_pressure_spr', 'avg_pressure_sum',
       'avg_pressure_fall', 'avg_pressure_wint'],
      dtype='object')

In [79]:
#Deleting not needed columns

climate.drop(columns=['Unnamed: 0','avg_hum_spr', 'avg_hum_sum', 'avg_hum_fall',
       'avg_hum_wint','avg_precip_spr', 'avg_precip_sum', 'avg_precip_fall',
       'avg_precip_wint', 'avg_pressure_spr', 'avg_pressure_sum',
       'avg_pressure_fall', 'avg_pressure_wint'], inplace = True)

In [80]:
climate.head(2)

     state  avg_temp_spr  avg_temp_sum  avg_temp_fall  avg_temp_wint
0  Alabama     18.076923     27.604396      30.793478       20.98913
1   Alaska     28.197802     30.000000      29.641304       27.73913

In [81]:
climate.info() #Dsiplay Dtypes to see if something must be modified

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          50 non-null     object
 1   avg_temp_spr   50 non-null     float64
 2   avg_temp_sum   50 non-null     float64
 3   avg_temp_fall  50 non-null     float64
 4   avg_temp_wint  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [82]:
climate.isnull().sum()  # Checking for missing values

state            0
avg_temp_spr     0
avg_temp_sum     0
avg_temp_fall    0
avg_temp_wint    0
dtype: int64

#### Next, a new column is created with the average of all 4 stages (spring, summer, fall and winter)

In [83]:
climate['avg_temp'] = climate.mean(axis=1)

In [84]:
climate.head()

,state,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint,avg_temp
0,Alabama,18.076923,27.604396,30.793478,20.989130,24.365982
1,Alaska,28.197802,30.000000,29.641304,27.739130,28.894559
2,Arizona,25.582418,29.054945,28.782609,27.021739,27.610428
3,Arkansas,10.824176,26.076923,30.902174,12.576087,20.094840
4,California,15.538462,27.318681,35.010870,18.010870,23.969720

In [85]:
climate.columns

Index(['state', 'avg_temp_spr', 'avg_temp_sum', 'avg_temp_fall',
       'avg_temp_wint', 'avg_temp'],
      dtype='object')

In [86]:
#Deleting all columns except "state" and "avg_temp"
climate.drop(columns=['avg_temp_spr', 'avg_temp_sum', 'avg_temp_fall',
       'avg_temp_wint'], inplace = True)

In [87]:
climate.head(2)

     state   avg_temp
0  Alabama  24.365982
1   Alaska  28.894559

#### Next, state names are changed to avoid future possible problems

In [88]:
climate['state'] = [state.replace(' ', '_').lower() for state in climate['state']]

In [89]:
climate.tail(3) #Just enough to check for every possible scenario (lowercased and spaces)

            state   avg_temp
47  west_virginia  15.238951
48      wisconsin  10.844362
49        wyoming  12.645067

In [90]:
climate.sort_values('state', inplace = True)

In [92]:
climate.to_csv('../data/climate.csv') #Saving as csv file