# Merge data into one single dataset

#### In this particular notebook all the data from all three datasets will be merged together into a single dataset

In [1]:
import pandas as pd

In [2]:
sat = pd.read_csv('../data/sat_GOOD.csv')

In [3]:
act = pd.read_csv('../data/act_GOOD.csv')

In [4]:
climate = pd.read_csv('../data/climate.csv')

In [5]:
sat.shape

(50, 5)

In [6]:
act.shape

(50, 5)

In [7]:
climate.shape

(50, 3)

In [8]:
sat.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'state', 'total', 'participation_%'], dtype='object')

In [9]:
act.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'state', 'composite', 'participation_%'], dtype='object')

In [10]:
climate.columns

Index(['Unnamed: 0', 'state', 'avg_temp'], dtype='object')

#### Now we delete the unwanted columns

In [11]:
sat.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)

In [12]:
act.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)

In [13]:
climate.drop(columns=['Unnamed: 0'], inplace = True)

In [14]:
sat.columns

Index(['state', 'total', 'participation_%'], dtype='object')

In [15]:
act.columns

Index(['state', 'composite', 'participation_%'], dtype='object')

In [16]:
climate.columns

Index(['state', 'avg_temp'], dtype='object')

#### Next, a new dataset with all the information we want to study will be created

In [17]:
sat['score_act'] = act['composite']

In [18]:
sat['participation_%_act'] = act['participation_%']

In [20]:
# Renaming column names
sat.rename(columns = {
    'total': 'score_sat',
    'participation_%': 'participation_%_sat'
}, inplace = True)

In [22]:
sat['avg_temp'] = climate['avg_temp']

In [24]:
sat.head()

,state,score_sat,participation_%_sat,score_act,participation_%_act,avg_temp
0,alabama,1166,6.0,19.1,100.0,24.365982
1,alaska,1106,43.0,20.8,33.0,28.894559
2,arizona,1149,29.0,19.2,66.0,27.610428
3,arkansas,1169,5.0,19.4,100.0,20.094840
4,california,1076,60.0,22.7,27.0,23.969720

In [25]:
sat.shape

(50, 6)

In [26]:
sat.to_csv('../data/all_in_one.csv')