# SAT data: import and cleaning

#### In this particular notebook the SAT dataset "sat_2018.csv" is imported and cleaned for the porject's purpose.

In [55]:
import pandas as pd

In [56]:
sat = pd.read_csv('../data/sat_2018.csv') #importing the dataset

In [57]:
type(sat)

pandas.core.frame.DataFrame

In [58]:
sat.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [59]:
sat.shape

(51, 5)

In [60]:
sat.columns

Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

In [61]:
sat.info() #Dsiplay Dtypes to see if something must be modified

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [62]:
sat.isnull().sum() # Checking for missing values

State                                 0
Participation                         0
Evidence-Based Reading and Writing    0
Math                                  0
Total                                 0
dtype: int64

In [63]:
# function to check if there is any obvious issue with the "Total" column. SAT score ranges from 400 to 1600.
def any_issues_data(data):
    issues = []
    for score in data:
        if score < 400 or score > 1600:
            issues.append(score)
    return issues

In [64]:
any_issues_data(sat['Total']) #Running the function with the "Total" column data.

[]

#### We can observe (via the empty list returned by the "any_issues_data" function) there are zero obviuos issues with the data we want to work with.

In [65]:
sat.columns = [col.replace(' ', '_').lower() for col in sat.columns] #Editing the column names

In [66]:
sat.columns

Index(['state', 'participation', 'evidence-based_reading_and_writing', 'math',
       'total'],
      dtype='object')

In [67]:
sat['participation_%'] = sat['participation'].str.strip('%').astype('float') #Create new column where participation rates are floats not strings

In [68]:
sat.head()

,state,participation,evidence-based_reading_and_writing,math,total,participation_%
0,Alabama,6%,595,571,1166,6.0
1,Alaska,43%,562,544,1106,43.0
2,Arizona,29%,577,572,1149,29.0
3,Arkansas,5%,592,576,1169,5.0
4,California,60%,540,536,1076,60.0

In [69]:
#Deleting not needed columns
sat.drop(columns=['participation', 'evidence-based_reading_and_writing', 'math'], inplace = True)

In [70]:
sat.head()

        state  total  participation_%
0     Alabama   1166              6.0
1      Alaska   1106             43.0
2     Arizona   1149             29.0
3    Arkansas   1169              5.0
4  California   1076             60.0

#### Next, state names are changed so this dataset has the same column format as the climate dataset.

In [71]:
sat['state'] = [state.replace(' ', '_').lower() for state in sat['state']] #Modifying to match the format in the climate dataset state column

In [72]:
sat.tail(3) #Just enough to check for every possible scenario (lowercased and spaces)

            state  total  participation_%
48  west_virginia    999             28.0
49      wisconsin   1294              3.0
50        wyoming   1257              3.0

In [73]:
sat.shape

(51, 3)

In [74]:
sat.sort_values('state', inplace = True)

In [76]:
sat.to_csv('../data/sat.csv') #Saving as csv file